<!DOCTYPE html>
<html>
<head>
  <title>Real Time Products</title>
</head>
<body>
  <h1>Lista de Productos en Tiempo Real</h1>
  <ul id="product-list">
    {{#each products}}
      <li>{{title}} - ${{price}}</li>
    {{/each}}
  </ul>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('productUpdate', (updatedProducts) => {
      const productList = document.getElementById('product-list');
      productList.innerHTML = '';

      updatedProducts.forEach(product => {
        const li = document.createElement('li');
        li.textContent = `${product.title} - $${product.price}`;
        productList.appendChild(li);
      });
    });
  </script>
</body>
</html>
